* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: white;
    cursor: pointer;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    gap: 20px;
    font-weight: bold;
}
a:hover, li:hover{
    transform: scale(1.1);
}
li{
    list-style: none;
}

li a{
    justify-content: left;
}
.container{
    height: 100vh;
    text-align: left;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

.sidebar{
    background-color: #0E9CE0;
    grid-column: 1;
    grid-row: 1/span 2;
    display: grid;
    grid-template-rows: 1fr 3fr 4fr;
    justify-content: start;
    padding-left: 20px;
    
}


.sidebar > .brand{
    grid-row: 1/2;
    font-size: xx-large;
    margin-top: 20px;
}

.sidebar > .nav > ul, .sidebar > .more > ul{
    font-size: x-large;
    display: grid;
    gap: 20px;
}

.sidebar > .nav {
    grid-row: 2/3;
}

.sidebar > .more {
    grid-row: 3/4;
}




.header{
    background-color: white;
    grid-column: 2;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr 1fr;
    margin: 0 40px;
    align-items: center;
}

.header .searchbar{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px;
    align-items:baseline;
}
.header .searchbar input{
    background-color: rgba(226,232,240,255);
    border: none;
    border-radius: 30px;
    max-height: 30px;
    padding: 10px 20px;
}
.header .userinfo{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    justify-items: center;
}

.header .user{
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr 2fr;
}

.header .user .userhead{
    grid-row: 1 / span 2;
}

.header .buttons{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
}

.header .buttons input{
    background-color: #0E9CE0;
    color: white;
    border: none;
    height: 40px;
    border-radius: 40px;
    font-weight: bolder;
    font-size: large;
    cursor: pointer;
}
.header .buttons input:hover{
    transform: scale(1.1);
}

.content{
    background-color: #FFEDB8;
    grid-column: 2;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: repeat(2,3fr) 2fr;
    grid-template-rows: repeat(2, 1fr 3fr);
}

.projects{
    grid-column: 1/span 2;
    grid-row: 1/ span 4;
}

.announcements{
    grid-column: 3;
    grid-row: 1/ span 2;
}

.trending{
    grid-column: 3;
    grid-row: 3/ span 2;
}